.add-document-card-container {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}

.add-document-card-container .document {
}

.add-document-card-container > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--s-gap);
}
.add-document-card-container .document input {
}
.add-document-card-container .document ::-webkit-file-upload-button {
    display: none;
}
/* .add-document-card-container
    .document
    input[type="file"]::-webkit-file-upload-button::after {
} */
.add-document-card-container .document label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--main-gap);
    color: var(--color-1);
    height: 200px;
    width: 100%;
    border-radius: var(--main-rd);
    border: 2px dashed var(--color-1);
    font-size: large;
    background-color: var(--color-3);
    cursor: pointer;
    transition: var(--main-transition);
}
.add-document-card-container .document label button {
    background-color: var(--color-5);
    color: var(--color-1);
    font-weight: 600;
    padding: var(--pd-2);
    border-radius: var(--main-rd);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--main-gap);
}
.add-document-card-container .document label:hover {
    background-color: var(--color-4);
}

.add-document-card-container .title label {
    color: var(--gray-2);
    font-size: 14px;
}

.add-document-card-container input:not([type="file"]) {
    border: 1px solid transparent;
    background-color: var(--gray-0);
    padding: var(--pd-1);
    border-radius: var(--main-rd);
    width: 100%;
    display: block;
    transition: 0.2s ease-in-out;
}
.add-document-card-container input:not([type="file"]):focus {
    border: 1px solid var(--gray-1);
    background-color: white;
}
