.header {
    background-color: var(--color-1);
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    box-shadow: 5px 0 5px -5px rgba(255, 255, 255, 0.5) inset;
}
.header .user-profile-wrapper {
    height: 40px;
    gap: 10px;
    margin-right: 20px;
}

.header .user-profile-wrapper .image {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: var(--main-rd);
}
.header .user-profile-wrapper .username {
    color: white;
}
.header .user-profile-wrapper .username span {
    color: rgb(196, 196, 196);
    font-size: 14px;
}
.header .notif-icon {
    width: 40px;
    height: 40px;
    border-radius: var(--main-rd);
    cursor: pointer;
    position: relative;
}

.header .notif-icon {
    background-color: rgba(255, 255, 255, 0.15);
    transition: var(--quick-transition);
}
.header .notif-icon svg {
    color: white;
    display: block;
    width: 32px;
    height: 32px;
}
.header .user-profile-wrapper {
    padding: var(--pd-1);
    border-radius: var(--main-rd);
    position: relative;
}
.header .user-profile-wrapper .dropdown-icon {
    width: 45px;
    height: 45px;
}
.header .user-profile-wrapper .dropdown-wrapper {
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
}
.header .user-profile-wrapper:hover {
    background-color: rgba(255, 255, 255, 0.15);
    transition: var(--quick-transition);
    border-radius: var(--main-rd);
    cursor: pointer;
}
.header .user-profile-wrapper .dropdown-icon svg {
    color: white;
    width: 15px;
    height: auto;
    display: block;
    transform: rotate(180deg);
}
