.setting-page {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
    height: calc(100vh - 100px);
}

.setting-page .settings-container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    height: 100%;
    overflow: auto;
}

.settings-container .settings-content {
    margin-left: 20px;
    margin-top: 20px;
}

.settings-content .setting-group {
    display: flex;
    gap: 7px;
    margin: 5px;
    align-items: center;
    justify-content: start;
}

.date-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-left: 15px;
    flex-wrap: wrap;
}

.date-container .date-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--wh-slate-300);
    padding: 7px;
    border-radius: 7px;
}

.date-container .date-box .date-day-container {
    display: flex;
    gap: 15px;
    align-items: center;
    color: "#181c32";
    font-size: "16px";
}

.vacation-container {
    display: flex;
    flex-direction: column;
    max-height: 30vh;
}

.vacation-container .vacation-item {
    display: flex;
    gap: 10px;
}

.setting-group .switch {
    width: 35px;
    height: 19px;
}

.setting-group .slider:before {
    height: 15px;
    width: 15px;
    left: 1px;
}


/* Card styling*/

.setting-card-container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-2);
    padding: 15px;
    margin: 20px;
    margin-left: 0;
    margin-top: 0;
    border-radius: 7px;
    gap: 15px;
}

.setting-card-container .setting-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting-card-container .setting-card .setting-card-header {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.setting-card-container .setting-card .setting-card-header .setting-card-title {
    font-size: 16px;
    color: #181c32;
    font-weight: 700;
}

.setting-card-container .setting-card .setting-card-header .setting-card-description {
    font-size: 14px;
    color: #666b78;
    font-weight: 400;
}

.setting-card-container .setting-card .setting-card-side-option {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.setting-card-container .setting-card-bottom-option {
    display: flex;
}