:root {
    --color-1: #469597;
    --color-2: #88de9c;
    /* --color-2: #92e3a9; */
    --color-3: #e2ebe5;
    /* --color-3: #edfcf1; */
    --color-4: #ffebd8;
    --color-5: #ffd5ba;
    /*old colors*/
    /* --color-1: #8d4fff; */
    /* --color-2: #b4baff; */
    /* --color-3: #f3f2ff; */
    --success-color: #28a745;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --success-color-1: #d4ffde;
    --warning-color-1: #fff6d7;
    --danger-color-1: #fce0e3;
    --gray-0: #eee;
    --gray-1: #8c9399;
    --gray-2: #8b8b8b;
    --gray-3: #5a5a5a;

    --main-transition: 0.3s ease;
    --quick-transition: 0.2s ease;

    --main-sh: rgba(0, 0, 0, 0.2) 0px 0px 7px;

    --pd-0: 5px;
    --pd-1: 10px;
    --pd-2: 20px;
    --pd-3: 30px;
    --main-rd: 5px;
    --m-0: 5px;
    --m-1: 10px;
    --m-2: 20px;
    --m-3: 30px;

    --main-gap: 10px;
    --s-gap: 5px;
    --gap-2: 20px;
    --gap-3: 30px;
    --gap-4: 40px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-family: sans-serif;
    font-size: 16px;
    scrollbar-width: thin;
    scrollbar-color: var(--color-1);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-1);
    border-radius: 14px;
    border: 3px solid var(--color-1);
}

a,
button,
input[type="submit"] {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}
input,
textarea {
    outline: none;
    border: none;
}
svg {
    cursor: pointer;
    display: block;
}
ul {
    list-style: none;
}
.container {
    background-color: var(--color-3);
    height: 100%;
    overflow: auto;
    padding: 10px 20px;
}
.main-box {
    border-radius: var(--main-rd);
    box-shadow: var(--main-sh);
    background-color: white;
    border: 1px solid var(--color-2);
}
/* Reset styles for NavLink components (using "nav-link" class) */
.nav-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-title {
    font-size: x-large;
    font-weight: bold;
    color: var(--color-1);
}
.edit-btn {
    background-color: var(--color-3);
    width: 100%;
    padding: var(--pd-1) var(--pd-2);
    border: 2px solid var(--color-1);
    border-radius: var(--main-rd);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--s-gap);
    color: var(--color-1);
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-transition);
}
.edit-btn:hover {
    background-color: var(--color-1);
    color: white;
}
.delete-btn {
    background-color: var(--danger-color-1);
    width: 100%;
    padding: var(--pd-1) var(--pd-2);
    border: 2px solid var(--danger-color);
    border-radius: var(--main-rd);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--s-gap);
    color: var(--danger-color);
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-transition);
}
.delete-btn:hover {
    background-color: var(--danger-color);
    color: white;
}
