/* adminLayout.css */
.layout {
  display: flex;
}

.layout .layout-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout .main-content {
  height: calc(100vh - 60px);
  width: calc(100% - 200px);
  background-color: green;
}
