.notifications-card-container {
    position: absolute;
    top: calc(100% + 10px);
    /* min-width: 20px; */
    width: 420px;
    right: 0;
    background-color: white;
    border-radius: var(--main-rd);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* width: max-content; */
    z-index: 20;
    overflow: hidden;
}
.notifications-card-container .notif-head {
    padding: var(--pd-2);
    background-color: var(--color-5);

    border-bottom: 1px solid var(--color-1);
}
.notifications-card-container .notif-head .title {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-1);
}
.notifications-card-container .notif-body {
    padding: 10px;
    border-bottom: 1px solid var(--color-1);

    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 400px;
    overflow-y: scroll;
}
.notifications-card-container .notif-foot {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-4);
}
