.auth-page-container {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-4);
}
.login-page-container {
    background-color: var(--color-1);
    padding: var(--pd-1);
    width: 900px;
    display: flex;
    border-radius: var(--main-rd);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.login-page-container form {
    background-color: var(--color-3);
    padding: var(--pd-2);
    border-radius: var(--main-rd);
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
}
.login-page-container form > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-page-container form > div input {
    padding: 15px;
    border-radius: var(--main-rd);
    border: none;
    font-size: 16px;
}
.login-page-container form button {
    background-color: var(--color-1);
    color: white;
    padding: 15px;
    border-radius: var(--main-rd);
}
.login-page-container form button:hover {
    background-color: var(--color-1);
}
.login-page-container form span {
    display: flex;
    justify-content: flex-end;
    font-size: small;
    color: var(--color-1);
}

.login-page-container .auth-box {
    width: calc(100% - 350px);
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}
.login-page-container .auth-box .logo {
    font-size: 50px;
    color: white;
    font-weight: bold;
}
.form-message,
.form-error {
    font-size: 16px;
    width: 100%;
    padding: var(--pd-1);
    border-radius: var(--main-rd);
}
.form-message {
    color: var(--success-color);
    background-color: var(--success-color-1);
}
.form-error {
    color: var(--danger-color);
    background-color: var(--danger-color-1);
}
